{%extends "registration/base.html"%} {% load bootstrap4 %}
{% block content %}
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4"></div>
    <div class="col-md-4">
      {% if form.errors %}
        <p> Some Information Might be Incorrect </p>
      {% endif %}
      <div class="panel panel-default card">
        <div class="panel-heading card-header">
          <h3 class="text-center">Sign Up</h3>
        </div>
        <div class="panel-body card-body">

          <form  action="/accounts/register/" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
            </div>

            <input type="hidden" name="next" value="{% url 'create_profile' %}">

          </form>

        </div>

      </div>

    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div>
<footer class="mastfoot mt-auto">
  <div class="inner">
    <ul class="footer-flex">
      <li class="text-muted">About</li>
      <li class="text-muted">Blog</li>
      <li class="text-muted">Jobs</li>
      <li class="text-muted">Help</li>
      <li class="text-muted">API</li>
      <li class="text-muted">Privacy</li>
      <li class="text-muted">Terms</li>
      <li class="text-muted">TopAccounts</li>
      <li class="text-muted">Hashtags</li>
      <li class="text-muted">Locations</li>
    </ul>
    <p class="text-center text-muted mb-5">&copy;2021 Instragam from Joy</p>
  </div>
</footer>
{% endblock %}