* {
  margin: 0;
  padding: 0;
}

/* NAVBAR  */
.logo {
  width: 103px;
  margin-bottom: 29px;
}

.navbar-icons {
  font-size: 30px;
  color: black;
  margin-right: 1em;
  font-weight: 100;
}

/* END NAVBAR  */
/* IMAGE DISPLAY HOMEPAGE  */
.picture {
  border-radius: 50%;
  width: 3em;
  height: 3em;
}

body {
  background-color: #fafafa;
  font-size: 14px;
}

.suggestion-text {
  font-size: 14px;
  color: black;
  font-weight: bold;
}

.suggestion-text:hover {
  color: black;
}

/* .profile_tag {
  color: black;
  margin-left: 2rem;
} */


/* .card-body {
  background-color: white;
} */

 .modal-text {
  list-style: none;

} 

.text-modal {
  color: black;
  text-decoration: none;
}
.card-dimensions{
  height: auto;
  margin-bottom: 40px;
}
.profile_tag{
  color: black;
  font-weight: bold;
}
.profile_tag:hover{
  color: black;
}

.fa-heart{
  font-size: 35px;
  font-weight: lighter;
}

/* END OF HOMEPAGE  */


/* PROFILE  */
.d-flex {
  display: flex;
}

/* END OF PROFILE  */
/* FOOTER  */
.footer-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  column-gap: 5px;
  list-style: none;
}

.footer-text {
  font-size: 10px;
}

.copy {
  font-size: 10px;
}

/* END OF FOOTER  */

/* IMAGE UPLOAD  */
.card {
  padding: 20px;
}

.header img {
  height: 50px;
  width: 175px;
  margin: auto;
  position: relative;
}

/* END OF IMAGE UPLOAD  */

/* SEARCH  */
.search-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* END OF SEARCH  */

/* MEDIA QUERIES  */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  /* Styles */
}


@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  /* Styles */
}